.section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.section__body {
    background-color: white;
    padding: 15px;
}

.section__container {
    margin-bottom: 3px;
    margin-top: 13px;
    background-color: white;
    display: flex; 
    justify-content: space-between;
    padding-left: 20px;
}